<div class="container">
    <h1>Prueba Tecnica</h1>
    <h5>Generalidades:</h5>
    <p>
        Se requiere un sistema para el registro de clientes, donde se guarde los datos generales y  permita tener más de una dirección o documento de identificación, la cantidad de tipo documentos y
        direcciones quedaría a discreción de quien ingresa la información.<br/>
    </p>
    <h5>Se requiere:</h5>
    <ul>
        <li>Pantalla donde permita la administración de los clientes.<i class="bi bi-check-lg"></i></li>
        <li>Servicio para consumir desde aplicaciones externas.<i class="bi bi-check-lg"></i></li>
        <li>Auditoria en los cambios que se realicen sobre la información de los clientes.<i class="bi bi-check-lg"></i></li>
        <li>Reporte de los clientes en archivo de texto csv o txt, generado desde un script.<i class="bi bi-check-lg"></i></li>
        <li>Sistema de login y registro de usuarios agregado <strong>Extra</strong></li>
        <li>Publicacion de esta web en hosting para ver la prueba en linea <strong>Extra</strong></li>
        <li>Diseño responsive <strong>Extra</strong></li>
        <li><a href="https://drive.google.com/file/d/1pCNsk0OyP0EJg0yBOAvbmTBH3CbelHzQ/view?usp=sharing">Descarga este proyecto</a></li>
    </ul>
    <h5>Cuentas:</h5>
    <div class="dividir">
        <p>Puedes ingresar con alguna de estas dos cuentas de prueba o registrarte y crear una.</p>
        <div>
            <strong>Correo: </strong>micorreo1@yahoo.com<br/>
            <strong>Contraseña: </strong>123456789<br/>
        </div>
        <div>
            <strong>Correo: </strong>juanito35@gmail.com<br/>
            <strong>Contraseña: </strong>P@55word1<br/><br/>
        </div>
    </div>
    <h5>Mis datos:</h5>
    <p>
        <strong>Autor: </strong>Kevin Antonio Magaña Monroy<br/>
        <strong>Correo: </strong>kammonroy@gmail.com<br/>
        <strong>Numero: </strong>+503 79440351<br/>
        <a href="https://www.kevinamm.com" target="_blank"><strong>Visita mi portafolios</strong></a>
    </p>
</div>
